
<div class="panel panel-default col-md-6 col-md-offset-3">
    <div class="panel-heading">
        <h2 class="panel-title">Sign in</h2>
    </div>
    <div class="panel-body">
        <form role="form" name="signinForm" ng-submit="signinUser()">
            <div class="form-group">
                <h4>
                    <label for="username">Username:</label>
                </h4>
                <input type="text" name="username" ng-model="credentials.username" id="username" class="form-control" placeholder="Username"
                    required>
                <p ng-if="signinForm.username.$touched && signinForm.username.$invalid">The name is required.</p>
                <p ng-if="invalidUsername">The username does not exist!</p>
            </div>
            <div class="form-group">
                <h4>
                    <label for="password">Password:</label>
                </h4>
                <input type="password" name="password" ng-model="credentials.password" id="password" class="form-control" placeholder="Password"
                    required>
                <p ng-if="invalidPassword">The Password is invalid!</p>
            </div>
            <input type="submit" value="Sign in" ng-disabled="signinForm.$invalid" class="btn btn-primary btn-block">
        </form>
    </div>
</div>